/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* header */

header a {

    color:green;
    text-decoration: none;

}



/* footer */

footer a {
    color:green;
    text-decoration: none;

}

footer{
    margin-top: 20px;
    background-color: rgba(120, 200, 120, 0.5);
    padding: 20px;
    
}


header {} main {} P {} h1 {} section {} 


.container{

    box-sizing: border-box;

}
.container a {
    box-sizing: border-box;
    width: 297px;
    background-color: rgba(120, 200, 120, 0.5);
    color: #555;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 3px 0 0 0;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.container a:hover {
    background-color: rgba(120, 200, 120, 1);
    color: white;
}


pre {
    width:80%;
    /*font:normal 14px Monaco,Monospace !important;*/
    margin: 5px 0px 5px 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
code {
    display: block;
    margin: 0;
}

code:child-nth(even) {
    
}


/* Decription Box Style  */

.context > section > h2 {
    padding-right: 10px;
    margin-left: 10px;
}
.context a {
    color: green;
    text-decoration: none;
    padding: 0px 5px;
}
.context p {
    margin-left: 20px;
    word-break: normal;
    white-space: normal;
}
.context > section > h2 {
    font-size: 18px;
    margin: 0 0 0 10px;
}
.context > section > h2:first-child {
    font-size: 22px;
    text-decoration: underline;
}
.context > section {
    margin-top: 5px;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: rgba(120, 200, 120, 0.5);
    transition: 0.2s;
    color: #555;
}
.context > section:target {
    background-color: rgba(120, 200, 120, 0.7);
    color: #000;
}
.context {}
/* Decription Box Style ens here */

p {
    margin: 0px;
}
.center {
    text-align: center;
}
.totop {
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.svg-container {
    width: 50px;
    height: 50px;
}
.triangle {
    fill: rgba(120, 200, 120, 0.5);
    stroke: #555;
    transition: 0.2s;
}
.triangle:hover {
    fill: rgba(120, 200, 120, 1);
    stroke: #BBB;
}
/* ==========================================================================
   media queries
   ========================================================================== */

/* mobile */

@media only screen and (max-device-width: 600px) {
    #wrap {
        width: 300px;
        margin: 0 auto;
    }
    .context > section {
        width: 300px;
        min-height: 300px;
    }
    .container a {
        width: 100%;
    }
}
/* small */

@media only screen and (max-width: 600px) {
    #wrap {
        width: 300px;
        margin: 0 auto;
    }
    .context > section {
        width: 300px;
    }
    .container a {
        width: 100%;
    }
}
/* Mid */

@media only screen and (min-width: 600px) {
    #wrap {
        width: 600px;
        margin: 0 auto;
    }
    .context > section {
        width: 600px;
    }
    .container a {
        width: 49%;
    }
}
/* Large */

@media only screen and (min-width: 900px) {
    #wrap {
        width: 900px;
        margin: 0 auto;
    }
    .context > section {
        width: 900px;
    }
    .container a {
        width: 33%;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dppx) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href)")";
    }
    abbr[title]:after {
        content: " (" attr(title)")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}